@import 'colors';

/*========================= TEXT STYLES =========================*/
html										{ height: 100%; overflow-x: hidden; }
body,
button,
input.textinput,
textarea									{ font-family: 'Montserrat', sans-serif;; font-weight: normal; font-size: 15px; line-height: 22px; color: $bodyTextColor; height: 100%; -webkit-text-size-adjust: 100%; }
h1, h2, h3, h4, h5, h5, h6					{ margin: 0 0 10px 0; font-family: 'Roboto', sans-serif; color: $accentColor; }
h1											{ font-size: 40px; line-height: 50px; font-weight: normal; margin: 0 0 20px 0; }
h2											{ font-size: 30px; line-height: 40px; font-weight: normal; }
h3											{ font-size: 24px; line-height: 30px; font-weight: normal; }
h4											{ font-size: 20px; line-height: 30px; }
h5											{ font-size: 18px; line-height: 20px; }
h6											{ font-size: 15px; line-height: 20px; }
p                                           { margin: 0 0 1.2em 0; }

.sitewidth									{ margin: 0 auto; width: 1200px; }


/*========================= NAVIGATION =========================*/
.navigation									{ background-color: #fff; padding: 20px 0 10px 0; }
.navigation nav								{ float: right; }
.navigation .logo img						{ height: 50px; }

.navigation nav ul							{ list-style: none; padding: 0; }
.navigation nav ul li						{ display: inline; }
.navigation nav ul li a						{ display: inline-block; margin-left: 10px; padding: 6px 10px; border: 1px solid #fff; }

.navigation nav ul li a:link,
.navigation nav ul li a:visited				{ text-decoration: none; }
.navigation nav ul li a:active,
.navigation nav ul li a:hover				{ border-color: $hoverColor; text-decoration: none; }

.navigation nav ul li.current-menu-item a	{ border-color: $accentColor; }

.navigation nav label						{ display: none; cursor: pointer; user-select: none; margin-right: 20px; padding: 6px 10px; color: $accentColor; border: 1px solid $accentColor; }

#menu-toggle								{ display: none; }



/*========================= JUMBO PHOTO =========================*/
.jumbophoto									{ text-align: center; background-color: #8dd8d0; }
.jumbophoto .sitewidth						{ background-repeat: no-repeat; background-position: center; box-sizing: border-box; padding: 60px 0; height: 500px; }
.jumbophoto .dimmed							{ position: relative; background-color: rgba(255, 255, 255, 0.5); height: 380px; }

.jumbophoto .dimmed h1						{ margin-top: 40px; width: 60%; display: inline-block; text-shadow: 2px 2px #eee; }
.jumbophoto .dimmed p						{ margin: 90px 0 20px 40px; width: 50%; text-shadow: 1px 1px #eee; }
.jumbophoto .dimmed .btn					{ position: absolute; right: 40px; bottom: 40px; }

.jumbophoto .buttons						{ margin: 0; }


/*========================= ABOUT ME =========================*/
.aboutme									{ background: url(../img/aboutme-background.png) repeat-y center; }
.aboutme .sitewidth							{ position: relative; }
.aboutme .text								{ box-sizing: border-box; width: 70%; padding: 20px 20px 40px 0; background-color: #fff; }
.aboutme .portrait							{ position: absolute; width: 200px; border-radius: 100px; right: 15%; top: 50%; transform: translate(50%, -50%); }


/*========================= CROWDFUNDING =========================*/
.crowdfunding								{ background-color: $darkColor; }

.crowdfunding .sitewidth					{ display: flex; }
.crowdfunding .photo						{ flex: 1; background-color: #f00; width: 40%; background: url(../img/clinica-ruiz.jpg) no-repeat right 0; background-size: cover; }
.crowdfunding .photo img					{ display: none; }
.crowdfunding .text							{ flex: 1; width: 60%; box-sizing: border-box; padding: 20px 0 30px 20px; }

.crowdfunding p								{ color: #ddd; }


/*========================= DONATE =========================*/
.donate									    { background: $darkColor; }
.donate .sitewidth							{ position: relative; }
.donate .text								{ float: right; box-sizing: border-box; width: 80%; padding: 40px 0 40px 0; }
.donate .action 							{ float: left; width: 20%; box-sizing: border-box; padding-top: 40px; }
.donate .action p                           { color: $accentColor; font-size: 20px; }
.donate .meter                              { background-color: $darkColorLight; box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.6) inset; }
.donate .metertext                          { color: #fff; margin: 0; }
.donate .metertext a                        { font-weight: bold; }

/*========================= ABOUT MS =========================*/
.aboutms									{ background: url(../img/aboutms-background.png) repeat-y center; }
.aboutms ul									{ color: $darkColor; }
.aboutms .sitewidth							{ position: relative; }
.aboutms .text								{ box-sizing: border-box; width: 80%; margin-left: 20%; padding: 20px 260px 40px 20px; background: #fff url(../img/traplift.jpg) no-repeat right 0; }
.aboutms .index								{ position: absolute; width: 20%; box-sizing: border-box; padding-right: 40px; left: 20px; top: 50%; transform: translate(0, -50%); }


/*========================= CONTENT PAGES =========================*/
.content                                    { margin-bottom: 20px; }
.content .text                              { padding: 0; }
.content .text ul,
.content .text ol							{ margin-bottom: 1em; margin-left: 0.5em; overflow: auto; }
.content .text ol li                        { margin-bottom: 0.5em; }
.content .text h2							{ margin-top: 30px; }
.content .text h2:first-child				{ margin-top: 0; }
.content .text img.size-full                { width: 100%; height: auto; }
.content .wp-post-image            			{ margin-bottom: 20px; }
.content.intro .wp-post-image            	{ margin-bottom: 0; margin-left: 20px; }

.content.intro .text                        { padding-top: 20px; }
.content.intro p                            { font-family: 'Open Sans', sans-serif; color: $accentColor; font-size: 18px; line-height: 130%; }
.content.right .wp-post-image               { float: right; margin-left: 20px; }
.content.left .wp-post-image                { float: left; margin-right: 20px; }

.size-martinehooptopbeter_fullwidth         { display: block; width: 100%; height: auto; margin-bottom: 20px; }


/*========================= DONATIONS =========================*/

.donations article							{ background-color: $darkColorLight; padding: 10px; margin-bottom: 10px; }

.donations article em						{ float: right; font-style: normal; color: $accentColor; }
.donations article strong					{ display: block; }
.donations article span  					{ display: block; }
.donations article p						{ border-top: 1px dashed $accentColorLight; font-style: italic; margin: 10px 0 0 0; padding-top: 10px; }

.meter										{ position: relative; height: 40px; margin: 0 0 10px 0; background: $darkColor; border-radius: 40px; padding: 10px; box-shadow : inset 0 -1px 1px rgba(255,255,255,0.3); }
.meter > span								{ position: relative; display: block; height: 100%; box-sizing: border-box; padding: 0 20px; }
.meter > span > span						{ position: relative; display: block; height: 100%; margin: 0 -20px; padding: 0 20px; border-radius: 20px; background-color: $accentColor; box-shadow: inset 0 2px 9px rgba(255,255,255,0.4), inset 0 -2px 6px rgba(0,0,0,0.6);  overflow: hidden; }

.metertext									{ margin-bottom: 20px; font-size: 130%; }
.metertext strong							{ color: $accentColor; }
.metertext span.value						{ float: left; }
.metertext span.number						{ float: right; }


/*========================= FOOTER =========================*/
footer										{ background-color: $accentColorLight; padding: 20px; }
footer p									{ color: $darkColor; text-align: center; margin: 0; }
footer img									{ height: 24px; vertical-align: bottom; opacity: 0.65; }

/*========================= FORMS / BUTTONS =========================*/

form                                        { margin-bottom: 20px; }
form p,
form fieldset                               { clear: both; float: left; margin-bottom: 0.8em; width: 100%; }
form fieldset span                          { clear: both; float: left; line-height: 28px; margin-right: 8px; }
form ul                                     { float: left; clear: both; width: 100%; box-sizing: border-box; margin: 0 0 20px 0; padding: 0 0 0 4px; ; list-style: none; }
form ul li                                  { float: left; margin: 0; padding: 0; width: 100%; }

label                                       { display: block; font-weight: bold; }
input.textinput,
textarea                                    { clear: both; float: left; box-sizing: border-box; border: 1px solid $hoverColor; color: $accentColor; font-size: 18px; padding: 3px 6px; width: 100%; max-width: 600px; }
input.clearnone                             { clear: none; }
input.numberinput                           { width: 40%; max-width: 200px; }
input.checkbox                              { float: left; margin-right: 0.5em; margin-top: 0.25em; }
input.radio                                 { float: left; margin-right: 0.5em; margin-top: 0.25em; }
form ul label                               { font-weight: normal; }

p.error                                     { color: $errorColor; font-weight: bold; }
p.error input.textinput,
p.error textarea                            { border: 1px solid $errorColor; background-color: $errorColorLight; }
ul.error label                              { color: $errorColor; }

.buttons									{ clear: both; }
.buttons .left								{ float: left; }
.buttons .right								{ float: right; }
form .buttons                               { text-align: right; }

button.btn,
a.btn										{ display: inline-block; padding: 10px 20px; background-color: $accentColor; color: #fff; border-radius: 5px; border: 0; }
a.btn:link,
a.btn:viksited								{ text-decoration: none; }
a.btn:hover,
a.btn:active								{ text-decoration: none; }


/*========================= MISCELLANEOUS =========================*/
.dark                                       { background-color: $darkColor; }
.dark h1                                    { color: #fff; }

.divider                                    { border-top: solid 4px $accentColor; }

.clearfix:before,
.clearfix:after								{ content: " "; display: table; }
.clearfix:after								{ clear: both; }


/*========================= MISCELLANEOUS =========================*/
@media (min-width: 1024px) and (max-width: 1199px) {
	.sitewidth								{ margin: 0 auto; width: 992px; }	
	.jumbophoto .dimmed h1					{ font-size: 32px; }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .sitewidth                              { width: 100%; }
	
    .jumbophoto .sitewidth                  { height: auto; background-size: contain; background-position: 0 0; padding: 60px 20px 40px 20px; }
	.jumbophoto .dimmed						{ position: relative; padding-top: calc((((100% + 40px) * 500) / 1043) - 60px); height: auto; }
	.jumbophoto .dimmed h1					{ position: absolute; top: 40%; left: 50%; transform: translate(-50%, -100%); font-size: 32px; }
	.jumbophoto .dimmed p					{ width: 60%; margin: 0; padding: 30px 40px; }
	
    .donate .sitewidth                      { padding: 0 20px; box-sizing: border-box; }
    .donate .text							{ width: 70%; }
    .donate .action     					{ width: 30%; }

    .aboutme .text                          { padding-left: 20px; }
	
	.crowdfunding .text						{ padding-right: 10px; }
	
	.aboutms								{ background: $accentColor; }
	.aboutms .text							{ width: 100%; margin: 0; }
	.aboutms .index							{ position: static; width: 100%; padding: 20px 20px; transform: none; }
	.aboutms .index ul li					{ float: left; width: 50%; }

    .content .text                          { padding-left: 10px; padding-right: 10px; }
    .content.right .wp-post-image           { width: 40%; height: auto; }
    .content.left .wp-post-image            { width: 40%; height: auto; }
}

@media (max-width: 1023px) {
	.navigation .logo						{ margin-left: 20px; }
	.navigation nav ul						{ display: none; width: calc(100% - 40px); background-color: $accentColor; left: 20px; }
	.navigation nav ul li					{ display: block; }
	.navigation nav ul li a:link,
	.navigation nav ul li a:visited,
	.navigation nav ul li a:hover,
	.navigation nav ul li a:active			{ padding: 12px 20px; display: block; margin: 0; border: none; border-bottom: 1px solid $accentColorLight; color: #fff; }
	.navigation nav ul li:last-child a		{ border: none; }
	.navigation nav label					{ display: inline-block; }

	#menu-toggle:checked + #mainnav			{ position: absolute; z-index: 1; display: block; box-shadow: 6px 6px 12px 0px rgba(0,0,0,0.5); }
}

@media (max-width: 767px) {
    h1										{ font-size: 26px; line-height: 30px; }
    h2										{ font-size: 24px; line-height: 30px; }
    h3										{ font-size: 22px; line-height: 22px; }
    h4										{ font-size: 20px; line-height: 20px; }
    h5										{ font-size: 18px; line-height: 20px; }
    h6										{ font-size: 15px; line-height: 20px; }

    .sitewidth                              { width: 100%; }
	
    .jumbophoto .sitewidth                  { height: auto; background-size: contain; background-position: 0 0; padding: 0 6px 30px 6px; }
    .jumbophoto .dimmed                     { height: auto; background-color: transparent; padding-top: calc((100% / 1043) * 500); }
    .jumbophoto .dimmed h1                  { width: 100%; color: #fff; text-shadow: none; margin-top: 30px; }
    .jumbophoto .dimmed p                   { margin: 0 0 20px 0; width: 100%; box-sizing: border-box; text-shadow: none; }
    .jumbophoto .dimmed .btn                { position: static; }

    .donate .sitewidth                      { padding: 0 6px; box-sizing: border-box; }
    .donate .text							{ width: 100%; float: left; padding-bottom: 20px; }
    .donate .action     					{ width: 100%; float: right; clear: both; padding: 0 0 20px 0; }
    .donate .action p                       { float: left; }
    .donate .action .buttons                { float: right; clear: none; }

    .aboutme                                { background-image: none; box-sizing: border-box; padding: calc(80% + 20px) 6px 30px 6px; }
    .aboutme .text                          { width: 100%; padding: 0; }
    .aboutme .portrait                      { width: 80%; border-radius: 50%; left: 50%; top: -20px; transform: translate(-50%, -100%); }

	.crowdfunding .sitewidth				{ display: block; }
    .crowdfunding .photo                    { width: 100%; }
	.crowdfunding .photo img				{ display: block; width: 100%; }
    .crowdfunding .text                     { width: 100%; padding: 20px 6px 30px 6px; }

    .aboutms,
    .aboutms .text                          { background-image: none }
    .aboutms .text                          { width: 100%; padding: 20px 6px 30px 6px; margin: 0; }
    .aboutms .index                         { position: static; width: 100%; padding: 20px 10px; background-color: $accentColor; transform: none; }

    .content .text                          { padding-left: 6px; padding-right: 6px; }
    .content .intro                         { font-size: 13pt; }
    .content.right .wp-post-image           { width: 100%; height: auto; margin-left: 0; float: left; }
    .content.right .text                    { float: left; }
    .content.left .wp-post-image            { width: 100%; height: auto; margin-right: 0; }
    .content.left .text                     { float: left; }

	.content.intro .wp-post-image           { margin: 0; }
		
	.metertext								{ font-size: 100%; }
	.metertext span.value,
	.metertext span.number					{ float: left; clear: both; }

}