@import 'colors';

/*========================= SIMPLE RESET =========================*/
html, body, div, p,
h1, h2, h3, h4, h5, h6,
form, fieldset, input,
span, img, figure   						{ padding: 0px; margin: 0px; border: 0px; }
a											{ outline: none; }
ul											{ margin: 0px; padding: 0px; padding-left: 16px; }
ol											{ margin: 0px; padding: 0px; padding-left: 20px; }
a:link, a:visited							{ color: $accentColor; text-decoration: none; }
a:hover, a:active							{ color: $accentColor; text-decoration: underline; }
.accent a:link, .accent a:visited			{ color: #fff; text-decoration: none; }
.accent a:hover, .accent a:active			{ color: $accentColorLight; text-decoration: none; }
